<div class="row justify-content-md-center">
  <div [ngSwitch]="step">
    <div *ngSwitchCase="1">
      <div>
        <h1 class="text-center">Personal Information</h1>
        <form (ngSubmit)="moveToStep2(userObj)">
          <div class="form-group">
            <label for="exampleFormControlInput1">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="userObject.firstName" id="exampleFormControlInput1"
              placeholder="Enter first name">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput2">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="userObject.lastName" id="exampleFormControlInput2" placeholder="Enter last name">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="userObject.email" id="exampleFormControlInput3" placeholder="example@gmail.com">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput4">Phone Number</label>
            <input type="number" class="form-control" name="phone" [(ngModel)]="userObject.phoneNumber" id="exampleFormControlInput4"
              placeholder="1234567890">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput5">Date of Birth</label>
            <input type="date" class="form-control" name="DOB" [(ngModel)]="userObject.dob" id="exampleFormControlInput5" placeholder="mm/dd/yyyy">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput6">Gender</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="gender" [(ngModel)]="userObject.gender" id="exampleFormControlInput6M" value="Male">&nbsp; Male</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="gender" [(ngModel)]="userObject.gender" id="exampleFormControlInput6F" value="Female"> &nbsp; Female</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="radio-inline">
              <input type="radio" name="gender" [(ngModel)]="userObject.gender" id="exampleFormControlInput6O" value="Others"> &nbsp; Others</label>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput7">Ethnicity</label>
            <br>
            <label>
              <input type="checkbox" name="gender" [(ngModel)]="userObject.gender" id="exampleFormControlInput6M" value="Male">&nbsp; Asian</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
              <input type="checkbox" name="gender" [(ngModel)]="userObject.gender" id="exampleFormControlInput6F" value="Female"> &nbsp;NativeAmerican</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
              <input type="checkbox" name="gender" [(ngModel)]="userObject.gender" id="exampleFormControlInput6O" value="Others">&nbsp; Spanish</label>

          </div>

          <div class="col-xs-4 form-group">
            <button class="btn btn-primary" type="submit">Next</button>
          </div>
        </form>
      </div>
    </div>


    <div *ngSwitchCase="2">
      <div>
        <h1 class="text-center">Flight Information</h1>
        <br>
        <form (ngSubmit)="submitForm(userObj)">

            <div class="form-group">
                <label for="exampleFormControlInput8">Source of Travel</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="fp" [(ngModel)]="userObject.fromPlace" id="exampleFormControlInput8">
                  <option value="Maryville">Maryville</option>
                  <option value="Kansas">Kansas</option>
                </select>
              </div>

              <div class="form-group">
                  <label for="exampleFormControlInput9">Destination of Travel</label>&nbsp;&nbsp;
                  <select name="fp" [(ngModel)]="userObject.toPlace" id="exampleFormControlInput9">
                      <option value="Maryville">Maryville</option>
                      <option value="Kansas">Kansas</option>
                  </select>
                </div>
          
          <div class="form-group">
            <label for="exampleFormControlInput10">Start Date</label>
            <input type="date" class="form-control" name="sd" [(ngModel)]="userObject.startDate" id="exampleFormControlInput10" >
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput11">End Date</label>
            <input type="date" class="form-control" name="ed" [(ngModel)]="userObject.endDate" id="exampleFormControlInput11">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>